/laravelatrest.backup
/laravel-at-rest.iml
/composer.lock
/.idea
/_testing_build
/vendor
/node_modules
.env
### Laravel template
/bootstrap/compiled.php
.env.*.php
.env.php
.env
composer
localhost.har


